@import url("https://fonts.googleapis.com/css2?family=Itim&family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.card-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/back.png");
  background-position: center;
  background-size: cover;
  filter: brightness(80%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container {
  width: 300px;
  height: 300px;
}

.card {
  width: 90%;
  max-width: 500px;
  color: #fff;
  text-align: center;
  padding: 100px 50px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.45);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}

.card img {
  width: 50%;
}

.card h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0.75rem;
  line-height: 1.1;
}

.card p {
  font-size: 1rem;
  max-width: 300px;
  margin: 10px auto;
}

.card p span {
  background: linear-gradient(to right, orange, rgb(77, 209, 77));
  font-size: 1.3rem;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: 600;
}
.social-links {
  width: 100%;
  margin-top: 20px;
}

.socials {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.socials a {
  text-align: center;
  border-radius: 50%;

  border-radius: 50%;
}
.socials a i {
  font-size: 2.4rem;

  color: #fff;
  background-color: transparent;
}

.socials a:hover i {
  transform: translateY(-5px);
}
.cta {
  margin-top: 30px;
}

a.btn {
  text-decoration: none;
  width: 30%;
  font-weight: 500;
  color: #ff01cf;
  background-color: #fff;
  padding: 10px;
  border-radius: 30px;
}

.btn-mail a i {
  padding: 2px 0;
  margin-top: 4px;
}

button {
  cursor: pointer;
}

#footer {
  position: absolute;
  bottom: 20px;
  margin: 0px auto;
}

#footer h3 {
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.15rem;
}
#footer span {
  font-size: 1.2rem;
}

@media screen and (max-width: 35em) {
  .card {
    padding: 60px 30px;
  }

  #footer h3 {
    font-size: 0.75rem;
  }
  #footer span {
    font-size: 1rem;
  }
}
